.card {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 150px;
}

.card__text::before {
    counter-increment: number;
    content: "0" counter(number) " ";
    font-family: Gilroy;
    font-size: 170px;
    font-weight: 900;
    line-height: 240px;
    color:rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 30%;
    left: -70px;
    z-index: -1;
}

.card__text .indent__link:hover {
    transform: translateX(10px);
}

.card:last-child {
    margin-bottom: 0;
}
.card__text {
    position: relative;
    padding-top: 60px;
    flex-grow: 1;
}

.card__image {
    display: inline-block;
    flex-shrink: 0;
}

@media (min-width: 1000px) {
    .card {
        flex-direction: row;
        justify-content: space-around;
    }

    .card--reverse {
        flex-direction: row-reverse;
    }

    .card__image {
        width: 38.7%;
    }

    .card__text {
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 60px;
    }

    .card__text::before {
        font-size: 230px;
        top: -10%;
        left: 10%;
    }
}

@media (min-width: 1200px) {
    .card__text {
        padding-top: 30px;
        padding-right: 114px;
        padding-left: 150px;
    }
}