.footer__container {
    padding-bottom: 70px;
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 24px;
}

.footer__logo + .footer__info, 
.footer__info +.footer__contact {
    padding-top: 20px;
}

.footer__left + .footer__center {
    padding-top: 50px;
}

.footer__autor:visited {
    color: rgba(251, 215, 132, 0.5);
}

.footer__link:visited {
    color: #fff;
}

.title + .footer__list {
    padding-top: 15px;
}


.footer__item:last-child {
    margin-bottom: none;
}

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__right {
    display: none;
}

.footer__info {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.footer__person,
.footer__aboutOrganization {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__autor {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    color: rgba(251, 215, 132, 0.5);
}

.footer__list {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    display: block;
    padding: 5px 0;
}


@media (min-width: 700px) {
    
    .footer__container {
        display: flex;
        justify-content: space-around;
    }

    .footer__left + .footer__center {
        padding-top: 0;
    }

    .footer__left {
        flex-basis: 40%;
        align-content: stretch;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .footer__center + .footer__right {
        padding-left: 100px;
    }

    .footer__container {
        max-width: 1400px;
        padding-right: 80px;
        padding-left: 80px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer__left {
        margin-right: 420px;
        flex-basis: 24%;
    }

    .footer__right {
        display: block;
    }
}